* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

body {
    background-color: hsl(185, 41%, 84%)
}

.calc-container  {
    width: 80vw;
    height: 600px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px;
    border-radius: 20px;
}

/* LEFT SIDE */

.calc-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.bill,
.tip-selector,
.people-count {
    display: flex;
    flex-direction: column;
}

.bill label,
.tip-selector label,
.people-count label {
    color: #547878;
    margin: 0px 0px 10px 5px;
}

.bill input,
.people-count input {
    height: 50px;
    width: 34vw;
    border: none;
    font-size: 24px;
    color: #00474b;
    background-color: #f3f9fa;
    border-radius: 10px;
    padding-right: 15px;
    text-align: right;
}

.bill {
    padding-top: 40px;
}

.bill svg {
    position: absolute;
    top: 120px;
    left: 50px;
    z-index: 5;
}

.tip-select {
    display: grid;
    grid-template-columns: 10vw 10vw 10vw;
    row-gap: 30px;
    column-gap: 20px;
}

.tip-select span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: white;
    background-color: #00474b;
    border-radius: 5px;
    font-size: 24px;

}

.tip-select span:hover {
    color: #00474b;
    background-color: #9fe8df;
    cursor: pointer;
}

.tip-select input {
    text-align: center;
    font-size: 20px;
    color: #547878;
    background-color: #f3f9fa;
    border: none;
}

.tip-select input::placeholder {
    color: #547878
}

.people-count {
    padding-bottom: 40px;
}

.people-count svg {
    position: absolute;
    top: 497px;
    left: 50px;
    z-index: 5;
}

/* RIGHT SIDE */

.calc-right {
    display: flex;
    flex-direction: column;
    background-color: #00474b;
    width: 50%;
    border-radius: 20px;
}

.tip-format-one,
.tip-format-two{
    display: flex;
    justify-content: space-between;
    margin: 0px 30px;
    align-items: center;
    color: #26c2ae;
    margin-top: 50px;
}


.tip-text,
.total-text {
    display: flex;
    flex-direction: column;
    color: white;
}

.tip-text span:last-child,
.total-text span:last-child {
    color: #547878;
}


.price {
    font-size: 52px;
}

.reset {
    display: flex;
    justify-content: center;
    margin-top: 180px;
}

.reset button {
    height: 50px;
    width: 28vw;
    font-size: 24px;
    color: #00474b;
    background-color: #26c2ae;
    border: none;
    border-radius: 5px;
}

.reset button:hover {
    cursor: pointer;
}
